In [1]:
import os
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
from keras.models import Sequential
from keras.layers import Conv2D,MaxPool2D,Flatten,Dense,Dropout
from tensorflow.keras.utils import to_categorical

In [3]:
os.chdir(r"D:\Imarticus\Time Series And Deep Learning\Neural Network\Datashared by sir")
mnist=pd.read_csv("MNIST_Train .csv")

In [4]:
mnist.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
import keras

In [6]:
mnist=np.array(mnist)

In [7]:
mnist_x=mnist[:,1:]
mnist_y=mnist[:,0]

In [8]:
mnist_x.shape

(42000, 784)

In [9]:
mnist_y.shape

(42000,)

In [10]:
mnist_x=mnist_x.reshape(-1,28,28,1)

In [11]:
mnist_x.shape

(42000, 28, 28, 1)

In [12]:
mnist_x=tf.keras.utils.normalize(mnist_x)
mnist_y=to_categorical(mnist_y)

In [13]:
model=Sequential()
model.add(Conv2D(filters=16,kernel_size=(5,5),activation='relu',
                 padding='same',input_shape=(28,28,1)))
model.add(MaxPool2D(pool_size=(2,2)))

In [14]:
model.add(Conv2D(filters=32,kernel_size=(5,5),activation='relu',
                 padding='same',input_shape=(28,28,1)))
model.add(MaxPool2D(pool_size=(2,2)))

In [15]:
model.add(Flatten())

In [16]:
model.add(Dense(128,activation='relu'))
model.add(Dropout(0.4))

In [30]:
model.add(Dense(10,activation='softmax'))

In [31]:
adam=tf.keras.optimizers.Adam(learning_rate=0.00001)

In [38]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [40]:
model1=model.fit(mnist_x,mnist_y,epochs=2,validation_split=0.2,batch_size=32)
model1

Epoch 1/2
1050/1050 [==============================] - 26s 25ms/step - loss: 0.9578 - accuracy: 0.5094 - val_loss: 0.9163 - val_accuracy: 0.5125
Epoch 2/2
1050/1050 [==============================] - 26s 25ms/step - loss: 0.8929 - accuracy: 0.5115 - val_loss: 0.8745 - val_accuracy: 0.5132

In [42]:
model1.history

{'loss': [0.9578484296798706, 0.8928503394126892],
 'accuracy': [0.5094047784805298, 0.5115476250648499],
 'val_loss': [0.916298508644104, 0.8745170831680298],
 'val_accuracy': [0.512499988079071, 0.5132142901420593]}

In [44]:
Model1=pd.DataFrame(model1.history)
Model1

       loss  accuracy  val_loss  val_accuracy
0  0.957848  0.509405  0.916299      0.512500
1  0.892850  0.511548  0.874517      0.513214

In [34]:
from sklearn.metrics import confusion_matrix,confusion_matrix,accuracy_score

#pred1=model.predict_classes(mnist_x_test)
#tab1=confusion_matrix(pred1,mnist_y_test)

In [35]:
pred_=model.predict(mnist_x)
class_1=np.argmax(pred_,axis=1)

pred_ #prediction in probability
#for each record we get 10 prob

array([[0.10840412, 0.17852019, 0.15185052, ..., 0.06235483, 0.05979924,
        0.05911665],
       [0.09109831, 0.11802904, 0.12358923, ..., 0.08720524, 0.11432847,
        0.1051214 ],
       [0.10840437, 0.17852378, 0.1518525 , ..., 0.06235308, 0.05979726,
        0.05911482],
       ...,
       [0.10230136, 0.13399561, 0.07281381, ..., 0.11943658, 0.10145622,
        0.12528516],
       [0.09626873, 0.17239635, 0.09347266, ..., 0.07284726, 0.06484239,
        0.16349746],
       [0.05655139, 0.12338132, 0.10475305, ..., 0.06418611, 0.12512423,
        0.1397812 ]], dtype=float32)

In [36]:
 #fetch the position of highest probability and use that foir confusion matrix

tab1=confusion_matrix(class_1,  np.argmax(mnist_y,axis=1))

tab1

array([[   3,    7,    2, 4260,    0,   27,    2,    0,   13,    3],
       [ 128, 4668,  190,   56, 1340, 3748, 4119, 4390,   64,   33],
       [3984,    4,    3,    5,   12,    6,   10,    1, 3848,    1],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   0,    0,    0,    2,    0,    6,    0,    0,    0,    0],
       [   0,    0,    0,   13,   23,    1,    0,    0,    5,   21],
       [   0,    0,    0,    1,    0,    0,    0,    0,    0,    0],
       [  13,    1, 3980,    8,    3,    0,    1,    0,   29,    1],
       [   4,    4,    2,    6, 2694,    7,    5,   10,  104, 4129]],
      dtype=int64)

In [37]:
tab1.diagonal().sum()/tab1.sum()  # Accuracy

0.21042857142857144

In [ ]:
##