In [1]:
!pip install vader

Requirement already satisfied: vader in c:\programdata\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: numpy in c:\users\sasai\appdata\roaming\python\python38\site-packages (from vader) (1.19.5)
Requirement already satisfied: sonopy in c:\programdata\anaconda3\lib\site-packages (from vader) (0.1.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from vader) (1.7.1)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from vader) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->vader) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->vader) (1.0.1)

In [2]:
import nltk

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\sasai\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [5]:
sent=SentimentIntensityAnalyzer()

### Some Example

In [6]:
sent.polarity_scores("This milk was awesome.I had a havenly feeling by taking a sip")

{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'compound': 0.128}

In [7]:
sent.polarity_scores("Movie was not good and it was waste of money.it very very bad horrible")

{'neg': 0.571, 'neu': 0.429, 'pos': 0.0, 'compound': -0.9234}

In [8]:
sent.polarity_scores("Movie was good and it was waste of money as i had already seen that movie")

{'neg': 0.15, 'neu': 0.695, 'pos': 0.155, 'compound': 0.0258}

In [9]:
sent.polarity_scores("sun rises in east")

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [10]:
import os
import pandas as pd
import numpy as np

In [11]:
os.chdir(r"D:\Imarticus\Time Series And Deep Learning\NLP")

In [12]:
amazon=pd.read_csv("amazonreviews.tsv",sep="\t")

In [13]:
amazon

     label                                             review
0      pos  Stuning even for the non-gamer: This sound tra...
1      pos  The best soundtrack ever to anything.: I'm rea...
2      pos  Amazing!: This soundtrack is my favorite music...
3      pos  Excellent Soundtrack: I truly like this soundt...
4      pos  Remember, Pull Your Jaw Off The Floor After He...
...    ...                                                ...
9995   pos  A revelation of life in small town America in ...
9996   pos  Great biography of a very interesting journali...
9997   neg  Interesting Subject; Poor Presentation: You'd ...
9998   neg  Don't buy: The box looked used and it is obvio...
9999   pos  Beautiful Pen and Fast Delivery.: The pen was ...

[10000 rows x 2 columns]

In [14]:
abc=sent.polarity_scores(amazon.iloc[0][1])

abc

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [15]:
amazon.iloc[0][1]

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

#### A product was launched by the amazon and few thousand customer have given the feed back ,company is intrested to find if the overall customer sentiment is positive or negative.
#### Consider label column is not there with company

In [16]:
score_com=[]
score_pos=[]
score_neg=[]
for i in range (0,amazon.shape[0]):
    score=sent.polarity_scores(amazon.iloc[i][1]) # This [1] is for the 2nd column (review columns)
    score1=score['compound']
    score_com.append(score1)
    # Below 2 lines to extract the positive sentiment
    score2=score['pos']
    score_pos.append(score2)
    # Below 2 lines to extract the negative sentiment
    score2 =score['neg']
    score_neg.append(score2)

In [17]:
np.mean(score_com)

0.33520672

In [18]:
## Adding the new column to the dataFrame
amazon["Comp-Score"]=score_com
amazon["Pos-Score"]=score_pos
amazon["Neg-Score"]=score_neg

In [19]:
amazon.head()

,label,review,Comp-Score,Pos-Score,Neg-Score
0,pos,Stuning even for the non-gamer: This sound tra...,0.9454,0.243,0.088
1,pos,The best soundtrack ever to anything.: I'm rea...,0.8957,0.145,0.018
2,pos,Amazing!: This soundtrack is my favorite music...,0.9858,0.268,0.040
3,pos,Excellent Soundtrack: I truly like this soundt...,0.9814,0.295,0.090
4,pos,"Remember, Pull Your Jaw Off The Floor After He...",0.9781,0.254,0.000

In [20]:
print(amazon["Comp-Score"].mean())

print(amazon["Pos-Score"].mean())

print(amazon["Neg-Score"].mean())

0.3352067199999999
0.15151900000000001
0.07635639999999992

### Let's check the neg comment and compare with the predicted columns to check if Label Value matching with the model

In [21]:
amazon[amazon.label=='neg'].head(10)

,label,review,Comp-Score,Pos-Score,Neg-Score
6,neg,"Buyer beware: This is a self-published book, a...",-0.8744,0.069,0.124
10,neg,The Worst!: A complete waste of time. Typograp...,-0.9274,0.054,0.360
13,neg,Oh please: I guess you have to be a romance no...,0.9097,0.199,0.077
14,neg,Awful beyond belief!: I feel I have to write t...,-0.9312,0.074,0.171
15,neg,Don't try to fool us with fake reviews.: It's ...,-0.5414,0.063,0.105
19,neg,sizes recomended in the size chart are not rea...,0.4926,0.065,0.000
20,neg,mens ultrasheer: This model may be ok for sede...,0.6318,0.170,0.134
22,neg,Another Abysmal Digital Copy: Rather than scra...,0.9667,0.145,0.037
25,neg,Problem with charging smaller AAAs: I have had...,-0.7845,0.090,0.149
26,neg,"Works, but not as advertised: I bought one of ...",-0.0857,0.080,0.092

### Practice 2 Dataset

In [22]:
os.chdir(r"D:\Imarticus\Time Series And Deep Learning\NLP")

Trip=pd.read_csv("Trip_advisor_review.csv")

Trip.head()

   Rating                                             Review
0       4  nice hotel expensive parking got good deal sta...
1       2  ok nothing special charge diamond member hilto...
2       3  nice rooms not 4* experience hotel monaco seat...
3       5  unique, great stay, wonderful time hotel monac...
4       5  great stay great stay, went seahawk game aweso...

In [23]:
score_com=[]
score_pos=[]
score_neg=[]
for i in range (0,Trip.shape[0]):
    score=sent.polarity_scores(Trip.iloc[i][1]) # This [1] is for the 2nd column (review columns)
    score1=score['compound']
    score_com.append(score1)
    # Below 2 lines to extract the positive sentiment
    score2=score['pos']
    score_pos.append(score2)
    # Below 2 lines to extract the negative sentiment
    score2 =score['neg']
    score_neg.append(score2)

In [24]:
## Adding the new column to the dataFrame
Trip["Comp-Score"]=score_com
Trip["Pos-Score"]=score_pos
Trip["Neg-Score"]=score_neg

In [25]:
print(Trip["Comp-Score"].mean())

print(Trip["Pos-Score"].mean())

print(Trip["Neg-Score"].mean())

0.8034298862915489
0.3103757747303704
0.07190839880923351

### We can Evaluate from the above vlaue that overall review is towards positive as the compound is high.

In [26]:
Trip.head()

,Rating,Review,Comp-Score,Pos-Score,Neg-Score
0,4,nice hotel expensive parking got good deal sta...,0.9747,0.285,0.072
1,2,ok nothing special charge diamond member hilto...,0.9787,0.189,0.110
2,3,nice rooms not 4* experience hotel monaco seat...,0.9889,0.219,0.081
3,5,"unique, great stay, wonderful time hotel monac...",0.9912,0.385,0.060
4,5,"great stay great stay, went seahawk game aweso...",0.9797,0.221,0.135

In [33]:
## Calculating Sentiment Score in this data set
polarity_score=[]
for i in range(0,Trip.shape[0]):
    score=TextBlob(Trip.iloc[i][1])
    score1=score.sentiment[0]
    polarity_score.append(score1)

In [34]:
Trip=pd.concat([Trip,pd.Series(polarity_score)],axis=1)

In [35]:
Trip.rename(columns={Trip.columns[5]:"Sentiment_score"},inplace=True)

In [37]:
Trip.head()

,Rating,Review,Comp-Score,Pos-Score,Neg-Score,Sentiment_score
0,4,nice hotel expensive parking got good deal sta...,0.9747,0.285,0.072,0.208744
1,2,ok nothing special charge diamond member hilto...,0.9787,0.189,0.110,0.214923
2,3,nice rooms not 4* experience hotel monaco seat...,0.9889,0.219,0.081,0.294420
3,5,"unique, great stay, wonderful time hotel monac...",0.9912,0.385,0.060,0.504825
4,5,"great stay great stay, went seahawk game aweso...",0.9797,0.221,0.135,0.384615

In [36]:
Trip.Sentiment_score.mean()

0.27427779068137187

### TextBlob & Sentiment_Score

In [27]:
!pip install TextBlob
from textblob import TextBlob

Requirement already satisfied: TextBlob in c:\programdata\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from TextBlob) (3.6.2)
Requirement already satisfied: regex in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (2021.8.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (4.62.1)
Requirement already satisfied: click in c:\users\sasai\appdata\roaming\python\python38\site-packages (from nltk>=3.1->TextBlob) (7.1.2)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (1.0.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->nltk>=3.1->TextBlob) (0.4.4)

In [28]:
text1="food made at the resturant was very good"
text2="color of this car is very bad and"
text3="sun risies in east"

blob1=TextBlob(text1)
blob2=TextBlob(text2)
blob3=TextBlob(text3)

print(blob1.sentiment); print(blob2.sentiment);print(blob3.sentiment)

Sentiment(polarity=0.9099999999999999, subjectivity=0.7800000000000001)
Sentiment(polarity=-0.9099999999999998, subjectivity=0.8666666666666667)
Sentiment(polarity=0.0, subjectivity=0.0)

### Subjectivity realted to opinion or fact
    * If its a opinion subjectivity would be high
    * If its a information subjectivity would be less

In [29]:
polarity_score=[]
for i in range(0,amazon.shape[0]):
    score=TextBlob(amazon.iloc[i][1])
    score1=score.sentiment[0]
    polarity_score.append(score1)

In [30]:
amazon=pd.concat([amazon,pd.Series(polarity_score)],axis=1)
amazon.rename(columns={amazon.columns[5]:"Sentiment_score"},inplace=True)

In [31]:
amazon.head()

,label,review,Comp-Score,Pos-Score,Neg-Score,Sentiment_score
0,pos,Stuning even for the non-gamer: This sound tra...,0.9454,0.243,0.088,-0.021875
1,pos,The best soundtrack ever to anything.: I'm rea...,0.8957,0.145,0.018,0.261111
2,pos,Amazing!: This soundtrack is my favorite music...,0.9858,0.268,0.040,0.274691
3,pos,Excellent Soundtrack: I truly like this soundt...,0.9814,0.295,0.090,0.272727
4,pos,"Remember, Pull Your Jaw Off The Floor After He...",0.9781,0.254,0.000,0.324802

In [32]:
amazon.Sentiment_score.mean()

0.14501923626191635

In [39]:
!pip install spacy

Collecting spacy
  Downloading spacy-3.1.3-cp38-cp38-win_amd64.whl (12.0 MB)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from spacy) (58.0.4)
Collecting srsly<3.0.0,>=2.4.1
  Downloading srsly-2.4.1-cp38-cp38-win_amd64.whl (451 kB)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.5-cp38-cp38-win_amd64.whl (112 kB)
Collecting pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4
  Downloading pydantic-1.8.2-cp38-cp38-win_amd64.whl (2.0 MB)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.5-cp38-cp38-win_amd64.whl (21 kB)
Collecting catalogue<2.1.0,>=2.0.6
  Downloading catalogue-2.0.6-py3-none-any.whl (17 kB)
Collecting typer<0.5.0,>=0.3.0
  Downloading typer-0.4.0-py3-none-any.whl (27 kB)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.5-cp38-cp38-win_amd64.whl (36 kB)
Collecting spacy-legacy<3.1.0,>=3.0.8
  Downloading spacy_legacy-3.0.8-py2.py3-none-any.whl (14 kB)
Collecting blis<0.8.0,>=0.4.0
  Downloading blis-0.7.4-cp38-cp38-win_amd64.whl (6.5 MB)
Requirement already satisfied: numpy>=1.15.0 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from spacy) (1.19.5)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (21.0)
Collecting wasabi<1.1.0,>=0.8.1
  Downloading wasabi-0.8.2-py3-none-any.whl (23 kB)
Collecting pathy>=0.3.5
  Downloading pathy-0.6.0-py3-none-any.whl (42 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (4.62.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.26.0)
Collecting thinc<8.1.0,>=8.0.9
  Downloading thinc-8.0.10-cp38-cp38-win_amd64.whl (1.0 MB)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (2.4.7)
Collecting smart-open<6.0.0,>=5.0.0
  Downloading smart_open-5.2.1-py3-none-any.whl (58 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (3.7.4.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.6)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)
Installing collected packages: murmurhash, cymem, catalogue, wasabi, typer, srsly, smart-open, pydantic, preshed, blis, thinc, spacy-legacy, pathy, spacy
Successfully installed blis-0.7.4 catalogue-2.0.6 cymem-2.0.5 murmurhash-1.0.5 pathy-0.6.0 preshed-3.0.5 pydantic-1.8.2 smart-open-5.2.1 spacy-3.1.3 spacy-legacy-3.0.8 srsly-2.4.1 thinc-8.0.10 typer-0.4.0 wasabi-0.8.2

In [50]:
import spacy

#### Run in Command prompt 
* python -m spacy download en_core_web_sm

In [53]:
import en_core_web_sm
lang=spacy.load("en_core_web_sm") # In build dictionary

In [86]:
doc = lang("Mumbai is a finacial capital of India. 1st quarter of the current year saw GDP of india decline by 24 %. This is 2021")

In [87]:
type(doc)

spacy.tokens.doc.Doc

In [88]:
for i in doc:
    print(i.text)

Mumbai
is
a
finacial
capital
of
India
.
1st
quarter
of
the
current
year
saw
GDP
of
india
decline
by
24
%
.
This
is
2021

In [89]:
for i in doc:
    print(i.text,i.pos_)

Mumbai PROPN
is AUX
a DET
finacial ADJ
capital NOUN
of ADP
India PROPN
. PUNCT
1st ADJ
quarter NOUN
of ADP
the DET
current ADJ
year NOUN
saw VERB
GDP PROPN
of ADP
india PROPN
decline NOUN
by ADP
24 NUM
% NOUN
. PUNCT
This DET
is AUX
2021 NUM

In [90]:
doc[0].pos_

'PROPN'

In [91]:
doc1=doc[4:7]
doc1

capital of India

In [92]:
for sentences in doc.sents:
    print(sentences)

Mumbai is a finacial capital of India.
1st quarter of the current year saw GDP of india decline by 24 %.
This is 2021

In [93]:
## Tellme the count of sentences
l1=[]
for sentences in doc.sents:
    l1.append(sentences)

In [94]:
len(l1)

3

In [95]:
doc3 =lang("my website is www.abc.com and my email id is xyz@gmail.com . This is just an ex .")


for token in doc3:
    print(token)

my
website
is
www.abc.com
and
my
email
i
d
is
xyz@gmail.com
.
This
is
just
an
ex
.

In [97]:
doc4 = lang("fares are charged at  20km .Total cost is $20. I live in Pune ")
for token in doc4:
    print(token)
    
# Able to seprate number and units

fares
are
charged
at

20
km
.Total
cost
is
$
20
.
I
live
in
Pune

In [99]:
doc5 = lang("Area of the flat is 1000m")
for token in doc5:
    print(token)

Area
of
the
flat
is
1000
m

In [100]:
doc6 = lang("fares are charged at  20km .Total cost is $20. I live in Pune ")
for token in doc6:
    print(token.text,end="|")

fares|are|charged|at| |20|km|.Total|cost|is|$|20|.|I|live|in|Pune|

In [109]:
doc7 = lang("saiifi Lives in Pune which is part of maharasthra and which is part of India")
for token in doc7.ents:  # ents is like name entity
    print(token)

Pune
India

In [110]:
for token in doc7.ents: 
    print(token)
    print(token.label_)
    print('\n')

Pune
GPE


India
GPE

In [118]:
doc8= lang("GDP of India is only $2 Trillion USD")
for token in doc8.ents: 
    print(token)
    print(token.label_)
    print(str(spacy.explain(token.label_))) # just if you want the explanation of each token
    print('\n')

Washington
GPE
Countries, cities, states


D.C.
GPE
Countries, cities, states


only $2 Trillion
MONEY
Monetary values, including unit

In [117]:
doc9= lang("Apple has Launched the latest mobile phone.Mango is very common fruit")
for token in doc9.ents: 
    print(token)
    print(token.label_)
    print(str(spacy.explain(token.label_))) # just if you want the explanation of each token
    print('\n')

Apple
ORG
Companies, agencies, institutions, etc.


Mango
LOC
Non-GPE locations, mountain ranges, bodies of water

### Visualize the Token

In [120]:
from spacy import displacy

In [122]:
doc10=lang("last year MGHEctor sold 15000 cars in India")
displacy.render(doc10,style="ent")

In [123]:
doc10=lang("Apple , Samsung and Google are competeriors in smart phone industry in India")
displacy.render(doc10,style="ent")

### Stemming

In [124]:
import nltk

In [125]:
from nltk.stem.snowball import SnowballStemmer

In [129]:
stemmer= SnowballStemmer(language="english")

In [130]:
word_list=['swim','swimmer','swimming','matches','mens','laughing','cars','loving','human','indians']

In [132]:
for word in word_list:
    print(word,  "    it's stemming is  ---->", '\t',stemmer.stem(word))

swim     it's stemming is  ----> 	 swim
swimmer     it's stemming is  ----> 	 swimmer
swimming     it's stemming is  ----> 	 swim
matches     it's stemming is  ----> 	 match
mens     it's stemming is  ----> 	 men
laughing     it's stemming is  ----> 	 laugh
cars     it's stemming is  ----> 	 car
loving     it's stemming is  ----> 	 love
human     it's stemming is  ----> 	 human
indians     it's stemming is  ----> 	 indian

In [135]:
print(lang.Defaults.stop_words)

{"'re", 'wherever', 'us', 'seems', 'enough', 'using', 'well', 'none', 'though', 'with', 'â€˜d', 'what', 'â€˜m', 'either', 'over', 'sometime', 'down', 'others', 'meanwhile', 'now', 'around', 'there', 'together', 'done', 'fifty', 'very', 'least', 'was', 'various', 'â€™ll', 'no', 'since', 'your', 'his', 'must', 'against', 'hundred', 'did', 'whence', 'two', 'anyhow', 'anyone', 'name', 'top', 'above', 'namely', 'nor', 'towards', 'beside', 'here', 'thus', 'itself', 'cannot', 'move', 'out', 'whereupon', 'latterly', 'moreover', 'at', 'who', 'then', 'through', 'upon', "n't", 'twelve', 'herself', 'off', 'am', 'seemed', 'â€˜re', 'nobody', 'further', 'although', 'â€™m', 'toward', 'would', 'serious', 'do', 'under', 'their', 'whereafter', 'nowhere', 'whether', 'every', 'which', 'eleven', 'each', 'get', 'please', 'could', 'whereby', 'â€™d', 'becomes', "'ve", 'is', 'often', 'alone', 'where', 'this', 'â€˜s', 'became', 'last', "'s", 'make', 'both', 'or', 're', 'perhaps', 'else', 'ourselves', 'really', 'yours', 'across', 'will', 'due', 'while', 'of', 'my', 'first', 'empty', 'hereby', 'again', 'such', 'everyone', 'all', 'too', 'another', 'any', 'doing', 'fifteen', 'hereafter', 'whole', 'if', 'her', 'being', 'â€˜ve', 'been', 'should', 'these', 'still', 'nâ€™t', 'they', 'are', 'less', 'noone', 'latter', 'via', 'elsewhere', 'might', 'those', 'she', 'wherein', 'somehow', 'thru', 'otherwise', 'five', 'few', 'bottom', 'besides', 'himself', 'never', 'yourselves', 'it', 'go', 'about', 'hereupon', 'why', 'thereby', 'along', 'becoming', 'front', 'put', 'than', 'i', 'so', 'nevertheless', 'become', 'used', 'other', 'him', 'however', 'a', 'seem', 'just', 'many', 'more', 'next', 'themselves', 'own', 'after', 'when', 'myself', 'but', 'sixty', 'throughout', 'ours', 'whither', 'our', 'some', 'were', 'until', 'whatever', 'up', 'thereupon', 'anyway', 'mine', 'be', 'by', 'take', 'thereafter', 'â€™s', 'you', 'ever', 'neither', 'between', 'amount', "'m", 'four', 'its', 'say', 'whoever', 'how', 'part', 'afterwards', 'them', 'not', 'amongst', 'someone', 'beyond', 'show', "'d", 'he', 'several', 'without', 'give', 'because', 'everything', 'an', 'that', 'hers', 'sometimes', 'ten', 'had', 'per', 'everywhere', 'whom', 'once', 'even', 'keep', 'we', 'one', 'nothing', 'hence', 'third', 'formerly', 'whereas', 'twenty', 'in', 'may', 'eight', 'rather', 'have', 'indeed', 'unless', 'therein', 'whenever', 'therefore', 'anywhere', 'side', 'anything', 'same', 'most', 'whose', 'onto', 'except', 'does', 'full', 'yourself', 'also', 'to', 'thence', 'behind', 'on', 'from', 'among', 'herein', "'ll", 'call', 'always', 'before', 'â€˜ll', 'the', 'former', 'within', 'almost', 'beforehand', 'can', 'somewhere', 'seeming', 'see', 'yet', 'made', 'back', 'me', 'and', 'for', 'nâ€˜t', 'three', 'only', 'has', 'nine', 'â€™ve', 'mostly', 'as', 'during', 'quite', 'into', 'something', 'six', 'already', 'â€™re', 'forty', 'regarding', 'below', 'ca', 'much'}

In [134]:
len(lang.Defaults.stop_words)

326

In [137]:
print(lang.vocab['the'].is_stop) # To check if it is a part of stop words

True